body{
background-color: #1d1996;

}
.Header-part{
    color: #f0f8ff;
    font:  1.2rem "Fira Sans", sans-serif;
}
.Headline{
    font-weight: 100;
}

a{
    color: #f0f8ff;
    font-style: italic;
    font-family: inherit;
    font-size: x-large;
}
.login{
    text-align: right;
    font-style: italic;
    font-size:large;
}
nav{
    background-color: #0000ff;
}

#main-content{
    background-color: #f0f8ff;

}
aside{
    background-color: #f0f8ff;
    border: 1px solid #0000ff;
    
}

section{
    background-color: #f0f8ff;
    border: 1px solid #0000ff;

}

.content-section-child{
    padding: 5px;
}

article{
    padding: 5px;
}
footer{
    color: #f0f8ff;
    text-align: center;
}

